@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    margin: 0;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  dl,
  dd,
  figure {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  button {
    background: transparent;
    border: 0;
    padding: 0;
  }

  img,
  picture,
  svg,
  canvas,
  video {
    display: block;
    max-width: 100%;
  }
}
