:root {
  --base: 240 95% 97%;
  --base-foreground: 240 20% 4%;
  --surface: 240 92% 94%;
  --surface-foreground: 210 8% 6%;
  --overlay: 240 80% 88%;
  --overlay-foreground: 240 20% 12%;
  --background: 360 100% 100%;
  --muted: 240 40% 72%;
  --muted-foreground: 240 35% 13%;
  --subtle: 240 50% 82%;
  --subtle-foreground: 240 25% 13%;
  --text: 240 20% 12%;
  --text-foreground: 240 80% 88%;
  --love: 339 100% 65%;
  --love-foreground: 330 35% 30%;
  --gold: 50 100% 65%;
  --gold-foreground: 50 20% 15%;
  --rose: 340 100% 80%;
  --rose-foreground: 340 20% 90%;
  --pine: 145 60% 70%;
  --pine-foreground: 145 60% 20%;
  --foam: 180 75% 65%;
  --foam-foreground: 180 45% 10%;
  --iris: 260 100% 69%;

  --iris-foreground: 260 40% 100%;
  --highlight-low: 240 80% 90%;
  --highlight-low-foreground: 240 20% 10%;
  --highlight-med: 240 85% 94%;
  --highlight-med-foreground: 240 15% 6%;
  --highlight-high: 240 90% 98%;
  --highlight-high-foreground: 240 10% 2%;
}
